@mixin font-gotham($font-size, $line-height, $font-weight: 400, $letter-spacing: 0px) {
    font-family: $gotham;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;    
}

@mixin g-68 {
    @include desktop { @include font-publico(68px, 77px); }
}

@mixin g-30-bold {
    @include desktop { @include font-publico(30px, 17px, bold); }
}